.instance-body {
  width: 1045px;
  height: 656px;
  background-image: url("../../assets/instance/instance.png");
  background-repeat: no-repeat;
}

.x-marker {
  width: 53px;
  height: 60px;
  background-image: url("../../assets/instance/X_map.png");
  background-repeat: no-repeat;
  position: absolute;
}
