.historys {
  margin: auto;
  background-size: contain;
  background-image: url("../../assets/main/history.png");
  background-repeat: no-repeat;

  width: var(--content-width);
  height: 600px;

  padding: 5% 4%;
  position: relative;
  .inner-container {
  }
  .suicide {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/main/suicide.png");
    width: 30%;
    height: 15%;
    left: 80%;
    top: 5%;
    cursor: pointer;
  }
  .history {
    width: 95%;
    height: 20%;
    margin: 10px;
    background-size: contain;
    background-image: url("../../images/layer3_message.png");
    background-repeat: no-repeat;
    background-size: contain;

    padding: 0 10%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    font-family: Averia Serif Libre;
    color: black;
    .age {
      width: 10%;
    }
    .summary {
      margin-left: 5%;
      width: 100%;
      display: flex;
      flex-direction: row;
      .stamps {
        .stamp {
          margin: 0 5px;
        }

        display: flex;
        flex-direction: row;
      }
      .proofsubmit {
        margin-left: auto;
        .proof {
          &:hover {
            color: grey;
          }
          color: black;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
