@font-face {
  font-family: "Be Vietnam";
  src: url(../fonts/BeVietnamPro-Regular.ttf);
}

@font-face {
  font-family: "Allerta";
  src: url(../fonts/Allerta-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf);
}

nav .modal-btn {
  display: inline-block;
}

div.board-row {
  padding: 0px;
  margin: 0px;
  height: var(--cell-size);
  margin-bottom: 10px;
}

.game-width {
  --game-width: 500px;

  max-width: var(--game-width) !important;
}
#root {
  --content-width: 867px;
}
div.content {
  padding-left: 12px;
  padding-top: 15px;
  margin: auto;
  width: var(--content-width);
  height: var(--content-width);
  overflow: hidden;
  position: relative;
  .content-border {
    position: relative;
    pointer-events: none;
    height: 100%;
    z-index: 30;
    background-size: cover;
    background-image: url("../assets/main/border.png");
    background-repeat: no-repeat;
  }
  .bottom-bar {
    pointer-events: none;
    position: absolute;
    bottom: 15px;
    left: 3%;
    width: 96%;
    height: 25%;
    background-image: url("../assets/main/bottom_bar.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
  }
  .skills-bar {
    position: absolute;
    top: 70px;
    left: 3.5%;
    width: 15%;
    height: 60%;
    z-index: 5;
    background-size: cover;
    background-image: url("../assets/main/skills_bar.png");
    background-repeat: no-repeat;
  }
  .status-bar {
    position: absolute;
    top: 25px;
    left: 2%;
    width: 98%;
    height: 14.5%;

    background-size: contain;
    background-image: url("../assets/main/status_bar.png");
    background-repeat: no-repeat;
  }
  .action-pipe {
    position: absolute;
    top: 22%;
    left: 89%;
    width: 10%;
    height: 44.5%;

    background-size: contain;
    background-image: url("../assets/main/action_pipe.png");
    background-repeat: no-repeat;
  }
}

.overflow-breakword {
  overflow-wrap: break-word;
}

.cursor-pointer {
  cursor: pointer;
}
.qr-code {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: var(--blue-text-color);
  justify-content: center;
  align-items: center;

  .qr-msg {
    min-width: 200px;
    max-width: 350px;
  }
}

.game-info {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  color: var(--blue-text-color);
}

.game-icon {
  width: 50px;
  height: 50px;
}
.game-inputs {
  background-color: var(--navbar-bg);
  border-radius: 15px;
  width: 500px !important;
}

.actions {
  position: absolute;
  left: 83%;
  top: 26%;
  z-index: 15;
  .current-action {
    background-color: blue;
  }
}

.action-exploring {
  margin: 10px 0;
  width: 105px;
  height: 68px;
  background-size: cover;
  background-image: url("../images/layer4_exploring_btn.png");
  cursor: pointer;
}

.action-working {
  width: 105px;
  height: 68px;
  background-size: cover;
  background-image: url("../images/layer4_working_btn.png");
  cursor: pointer;
}

.action-coasting {
  width: 105px;
  height: 68px;
  background-size: cover;
  background-image: url("../images/layer4_coasting_btn.png");
  cursor: pointer;
}

.items {
  position: absolute;
  left: 7%;
  top: 82%;
  z-index: 15;
  .item {
    position: relative;
    display: inline-block;
    width: 103px;
    height: 102px;
    margin: 10px;
    background-size: cover;
    background-image: url("../images/layer3_sticker3.png");
    cursor: pointer;
    .active-item {
      position: absolute;
      top: 20%;
      left: 10%;
      color: black;
    }
  }
}

.stickers {
  position: absolute;
  left: 6.5%;
  top: 15%;
  z-index: 11;
  .sticker {
    width: 82px;
    height: 79px;
    margin: 5px;
    background-size: cover;
    background-image: url("../images/layer3_sticker1.png");
  }
}

.bag {
  position: absolute;
  left: 5%;
  top: 68%;
  width: 180px;
  height: 139px;
  background-size: cover;
  background-image: url("../images/layer1_bag_btn.png");
  cursor: pointer;
}

.map {
  position: absolute;
  left: 75%;
  top: 65%;
  width: 150px;
  height: 148px;
  background-size: cover;
  background-image: url("../images/layer1_instance_btn.png");
}

.status {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: black;

  .wisdom {
    position: absolute;
    left: 21%;
    top: 13%;
  }
  .attack {
    position: absolute;
    left: 32%;
    top: 13%;
  }
  .speed {
    position: absolute;
    left: 43%;
    top: 13%;
  }
  .defence {
    position: absolute;
    left: 53%;
    top: 13%;
  }
  .family {
    position: absolute;
    left: 64%;
    top: 13%;
  }
  .charm {
    position: absolute;
    left: 75%;
    top: 13%;
  }
  .luck {
    position: absolute;
    left: 86%;
    top: 13%;
  }
  .age {
    position: absolute;
    left: 21%;
    top: 25%;
  }
}

.scrolling-bg {
  position: absolute;
  left: 3%;
  top: 3%;
  width: 95%;
  height: 95%;
  background-size: cover;
  background-image: url("../assets/main/scrolling_bg.png");
  background-repeat: repeat-x;
  z-index: -1;
}

.savings {
  position: absolute;
  left: 37.5%;
  top: 74.5%;
  font-family: "Averia Serif Libre";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  z-index: 15;
  color: #000000;
}

.age {
  position: absolute;
  left: 61%;
  top: 75.5%;
  font-family: "Averia Serif Libre";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  z-index: 15;
  color: #000000;
}

.character {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 131.5px);
  width: 150px;
  height: 263px;
  background-size: cover;
  background-image: url("../images/layer1_charactor.png");

  .character-health {
    position: absolute;
    left: calc(-50%);
    top: -50%;
    width: 300px;
    height: 59px;
    background-size: cover;
    background-image: url("../assets/main/healthbar.png");
    .character-name {
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: "Averia Serif Libre";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      color: #000000;
    }
    .health-bar {
      position: relative;
      width: 284px;
      height: 8px;
      left: 8px;
      top: 18px;
      background-image: url("../assets/main/blood.png");
      background-repeat: no-repeat;
    }
  }
}

.historys {
  margin: auto;
  background-image: url("../assets/main/history.png");
  background-repeat: no-repeat;

  width: var(--content-width);
  height: 600px;

  padding: 7% 4%;
  position: relative;
  .inner-container {
  }
  .suicide {
    position: absolute;
    background-image: url("../assets/main/suicide.png");
    width: 199px;
    height: 117px;
    left: 80%;
    top: 5%;
    cursor: pointer;
  }
  .history {
    width: 761px;
    height: 135px;
    margin: 10px;
    background-size: 430px 80px;
    background-image: url("../images/layer3_message.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sell-button {
  border: none;
  background-color: var(--button-main);
  padding: 5px 30px;
  border-radius: 5px;
  color: var(--info-text-color);
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  transition: 0.3s all ease;
  &:hover {
    background-color: var(--button-hover);
  }
}

.high-score {
  min-width: 175px;
  span {
    color: var(--info-text-color) !important;
  }
  .tag {
    font-size: 16px !important;
  }
  .value {
    font-size: 24px !important;
  }
}
